

.background{
    background-color: #c5c5c5;

}

.navbar__background{
    background: linear-gradient(to bottom, #643a97, #28163e);
    position: sticky;
    top: 1px;
}

.a{
    text-decoration: none;
    color: white;
}
.a:hover{
    color: white;
}

.divisor{
    height: 10px;
    background: linear-gradient(to bottom, #bb9edd, #372a46);
}
.listaEstilos{
    border: solid;
    margin: 5px;
    height: 80vh;
    background-color: #dfdfff;
}
.listaEstilos:hover{
    box-shadow: #00000073 0px 0px 20px 0px;
    transition-duration: 0.4s;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    background-image: url(https://media.istockphoto.com/vectors/abstract-seamless-black-dash-lines-diagonal-pattern-on-white-vector-id1278434948) ;
}

.header{
    height: 50vh;
}

.header__input{
    background-color: #dfdfff;
    height: 45vh;
    width: 90vw;
    border-radius: 5px;
    box-shadow: #00000073 0px 0px 6px 10px;
}

.input:hover{
    box-shadow: #0000005e 0px 0px 20px 1px;
    transition-duration: 0.4s;
}

.instrucciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
